doctype html
html(lang="en")
    head
        title=title
        link(rel="stylesheet", href="/css/style.css")

    body
        h1=title
        p=message

        a(href="/update-film") Add/Update this table
        table
            thead
                tr
                    th Name
                    th Director
                    th Genre
            tbody
                each film in data
                    tr
                        td= film.properties.film_name
                        td= film.properties.director
                        td= film.properties.genre