doctype html
html(lang="en")
    head
        title=title
    body
        h1=title
        p=message

        a(href="/update-cobj") Add/Update this table
        table
            thead
                tr
                    th Name
                    th Director
                    th Genre
            tbody
                each item in data
                    tr
                        td= item.film_name
                        td= item.director
                        td= item.genre